@import "tailwindcss";

@theme {
  --spacing-1230: 1230px;
  --spacing-800: 800px;
  --spacing-660: 660px;
  --spacing-120: 120px;
  --spacing-60: 60px;
  --spacing-24: 24px;

  --font-size-37: 37px;
  --font-size-18: 18px;
}