@import "tailwindcss";

@theme {
  --color-primary: #FF5A30;
  --color-heading: #1E212C;  
  --font-ubuntu: "Ubuntu", sans-serif;
}

:root {
  font-family: var(--font-ubuntu);
  color: var(--color-text);
  background-color: #ffffff;
}